a{
    font-size: 20px;
}

.feedback-btn{
height: 35px;
    width: 110px;
    line-height: 16px;
    -webkit-transform: rotate(
-90deg
);
    transform: rotate(
-90deg
);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    text-align: center;
    position: fixed;
    right: -30px;
    top: 45%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-box{
    height: 30px;
    width: 70px;
}

.price-txt{
    font-size: 25px;
    font-weight: 700;
}

.original-price-txt{
    font-size: 25px;
    font-weight: 200;
}

.product-name-txt{
   color: #2f686b;
}
.event-card{
    height: 40rem;
    margin-bottom: 10px;
}

.padding-top50{
    padding-top: 50px;
}

.small-icon{
    height: 32px;
    width: 32px;
}

.thinline-white{ background-color: #fff;
    height: 0.1mm;
}

.padding-top75{
    position: absolute;
    left: 20px;
    top: 520px;
}

.feedback-card-img{
    z-index: -1;
}

.feedback-card-txt{
    z-index: 2;
    position: absolute;
    top: 20px;
}

.thinline-dark{
    background-color: #6c757d;
    height: 0.5mm;
}



/****************************************************************************** Contact CSS start****************************************************************/






*{
     margin: 0;
     padding:0;
     box-sizing: border-box;
}

.contact-selection{
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
}

.contact-info{
  padding-top: 100px;
 color: ;
 max-width: 500px;
 line-height: 65px;
 padding-left: 50px;
 font-size: 18px;
}

.contact-info i{
 margin-right: 20px;
 font-size: 25px;
}

.contact-form{
  padding-top: 30px;
 max-width: 700px;
 margin-right: 50px;
}

.contact-info, .contact-form{
 flex-grow: 1;
}

.contact-form h2{
 color: ;
 text-align: center;
 font-size: 35px;
 text-transform: uppercase;
 margin-bottom: 30px;
}

.contact-form  .text-box{
 background: #fff;
 color: black;
 border-color: : black;
 width: calc(50%   -  10px);
 height: 50px;
 padding: 12px;
 font-size: 15;
 border-radius: 5px;
box-shadow:   0  3px  3px   rgba(0,  0,  0);
 margin-bottom:   20px;
 opacity:  0.9;
}

.contact-form  .text-box:first-child{
 margin-right: 15px;
}

.contact-form textarea{
 background: #fff;
 color: #000;
 border-color: black;
 width: 100%;
 padding: 12px;
 font-size: 15px;
 min-height: 200px;
 max-height: 400px;
 resize: vertical;
 border-radius: 3px;
box-shadow:   0  5px  5px   rgba(0,  0,  0);
 margin-bottom: 20px;
 opacity: 0.9;
}


.contact-form .sent-btn{
 float: right;
 background: #f59d45;
 color: black;
 border:  none;
 width: 120px;
 height: 40px;
 font-size: 15px;
 font-weight: 600;
 text-transform: uppercase;
 letter-spacing: 2px;
 border-radius: 5px;
 cursor:  pointer;
 transition: 0.3s;
 transition-property: background;
 box-shadow:   0  3px  3px   rgba(0,  0,  0);
}

.contact-form .sent-btn:hover{
 background: white;
}

/*****************************************************************************Footer****************************************************************/

footer{
  position: relative;
  bottom: 0;
  padding-top: 45px;
}

.footer-distributed{
  background-color: #f8f8ff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left{
  width: 40%;
}

.footer-distributed h3{
  color:  black;
  font: normal 36px ;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}


.footer-distributed .footer-links{
  color:  black;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  white;
  color: black;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: black;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  black;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  white;
  border-radius: 2px;
  box-shadow:0 0 0 1px black;


  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;

  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }

}
/******************************************************************************Footer Ends****************************************************************/



/****************************************************************************** Contact CSS ENDS****************************************************************/
