a {
  font-size: 20px;
}

.feedback-btn {
  height: 35px;
  width: 110px;
  line-height: 16px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  text-align: center;
  position: fixed;
  right: -30px;
  top: 45%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-box {
  height: 30px;
  width: 70px;
}

.price-txt {
  font-size: 25px;
  font-weight: 700;
}

.original-price-txt {
  font-size: 25px;
  font-weight: 200;
}

.product-name-txt {
  color: #2f686b;
}

.event-card {
  height: 40rem;
  margin-bottom: 10px;
}

.padding-top50 {
  padding-top: 50px;
}

.small-icon {
  height: 32px;
  width: 32px;
}

.thinline-white {
  background-color: #fff;
  height: 0.1mm;
}

.padding-top75 {
  position: absolute;
  left: 20px;
  top: 520px;
}

.feedback-card-img {
  z-index: -1;
}

.feedback-card-txt {
  z-index: 2;
  position: absolute;
  top: 20px;
}

.thinline-dark {
  background-color: #6c757d;
  height: 0.5mm;
}

/****************************************************************************** Contact CSS start****************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-selection {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
}

.contact-info {
  padding-top: 100px;
  color: ;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
}

.contact-info i {
  margin-right: 20px;
  font-size: 25px;
}

.contact-form {
  padding-top: 30px;
  max-width: 700px;
  margin-right: 50px;
}

.contact-info, .contact-form {
  flex-grow: 1;
}

.contact-form h2 {
  color: ;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form .text-box {
  background: #fff;
  color: black;
  border-color: : black;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 15;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .text-box:first-child {
  margin-right: 15px;
}

.contact-form textarea {
  background: #fff;
  color: #000;
  border-color: black;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 3px;
  box-shadow: 0 5px 5px rgba(0, 0, 0);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .sent-btn {
  float: right;
  background: #f59d45;
  color: black;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
  box-shadow: 0 3px 3px rgba(0, 0, 0);
}

.contact-form .sent-btn:hover {
  background: white;
}

/*****************************************************************************Footer****************************************************************/

/******************************************************************************Footer Ends****************************************************************/
/****************************************************************************** Contact CSS ENDS****************************************************************/






/************************************************************************HomePage CSS***************************************************************************/

/**********************************************************************Homepage-Carousel-CSS(starts)************************************************************/


/*********************************************************************Homepage-Carousel-CSS(Ends)***************************************************************/

/***********************************************************************Homepage-CSS-ENDS***********************************************************************/


/*********************************************************************************************************************************************************************/

/***********************************************************************AboutUs-CSS-STARTS****************************************************************/

.self-header{
  padding-top: 30px;
  padding-left: 800px;
}

.tag-line-header{
  padding-left: 645px;
}

.about-cards{
padding-top: 75px;
}
/***********************************************************************AboutUs-CSS-ENDS****************************************************************/
